<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.attrack">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.GradesDetail"
            android:label="@string/title_activity_grades_detail"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.EventDesciptions"
            android:label="@string/title_activity_event_desciptions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.TimeTable"
            android:label="@string/title_activity_time_table"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Notice"
            android:label="@string/title_activity_notice"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Attendance"
            android:label="@string/title_activity_attendance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Examinations"
            android:label="@string/title_activity_examinations"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Grades"
            android:label="@string/title_activity_grades"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Teacher"
            android:label="@string/title_activity_teacher"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.EventHolidays"
            android:label="@string/title_activity_event_holidays"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>